.booking-bar {
  //margin: 0 auto;
  //padding-top: 1em;
  //padding-bottom: 1px;
  //background-color: rgba(196, 219, 218, 0.856);
  //background: linear-gradient(to top, #011972 -19%, #2989d8 67%, #7db9e8 87%);

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &__list-item {
    font-size: 1.2em;
    padding: 1em;
    display: inline-block;
    position: relative;
    border-bottom: 0.25em solid green;
  }
}

@media screen and (max-width: 479px) {
  .booking-bar {
    margin: 0;
    padding-top: 0em;

    &__list-item {
      font-size: 0em;
      padding: 5px;
    }
  }
}
