.booking-bar {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1px;
  background-color: rgba(196, 219, 218, 0.856);

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &__list-item {
    font-size: 1.2em;
    padding: 1em;
    display: inline-block;
    position: relative;
    border-bottom: 0.25em solid green;
  }
}
