.flight-picker {
  //border: 1px solid black;
  margin: 0 auto;
  margin-top: 3em;
  min-height: 40%;
  width: 60%;

  background-color: $forms-color;
  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__cost-button-block {
    //border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    height: 3em;
    padding: 1em;
    width: 15em;
  }
}

.total-cost {
  //border: 1px solid black;
  width: 8em;
}
