input {
  width: 100%;
}
input[type="radio"] {
  width: initial;
}

.input:disabled,
.input[disabled] {
  border: 1px solid #999999;
  background-color: #5c5858;
  color: #5c5858;
}

.input {
  &--invalid {
    border-color: red !important;
    position: relative;
  }
}
