.container {
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  font-size: 20px;
  background-color: $forms-color;
  text-align: center;
  height: 5em;
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid #aaaeb5;
}

.section {
  top: 5em;
  padding-bottom: 1em;
  position: relative;
  background-image: url(../images/air-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  //height: 80%;
  min-height: 80%;
  max-height: max-content;
}

.footer {
  position: relative;
  top: 5em;
  background-color: $forms-color;
  border-top: 2px solid hsl(214, 13%, 64%);
  width: 100%;
  height: 20%;
}

.sign-block {
  margin: 10px 50px 0 10px;
  float: right;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;

  &__button {
    display: relative;
    margin: 10px;
    height: 90%;
    width: 100px;
  }
  &__button button {
    font-size: 1.2em;
    height: 90%;
    width: 100px;
    border-radius: 5px;
  }
}
