// .plane-container {
//   min-width: 40em;
//   min-height: 40em;
// }

// .plane {
//   border-left: 7px solid rgb(221, 217, 217);
//   border-right: 7px solid rgb(221, 217, 217);
//   background-color: hsl(208, 100%, 97%);
//   min-width: min-content;
//   min-height: 40em;
//   max-width: max-content;
//   padding: 5px;
//   display: flex;
//   justify-content: center;
//   margin: 0 auto;

//   &__row {
//     //border: 1px solid black;
//     display: flex;
//     justify-content: center;
//     margin: 5px;
//   }

//   &__section {
//     //border: 1px solid black;
//     margin-right: 2em;
//     min-height: 30%;
//     min-width: min-content;
//     max-width: max-content;
//   }
//   &__section:last-child {
//     margin-right: 0;
//   }
// }
@media screen and (min-width: 320px) {
  .plane-container {
    padding-top: 0.8em;
  }

  .plane {
    border-left: 3px solid rgb(221, 217, 217);
    border-right: 3px solid rgb(221, 217, 217);
    background-color: hsl(208, 100%, 97%);
    // min-width: min-content;
    // min-height: 40em;
    // max-width: max-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &__row {
      display: flex;
      justify-content: center;
      margin: 3px;
    }

    &__section {
      margin-right: 0.5em;
    }
    &__section:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .plane-container {
    min-width: 40em;
    min-height: 40em;
    display: flex;
    align-items: center;
  }
  .plane {
    border-left-width: 7px;
    border-right-width: 7px;
    //min-height: 40em;
    max-width: max-content;

    &__row {
      margin: 5px;
    }

    &__section {
      margin-right: 1.5em;
      min-height: 30%;
      min-width: min-content;
      max-width: max-content;
    }
  }
}
