* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$forms-color: rgb(241, 231, 234); //rgb(230, 219, 219);
//$forms-color: #f7fff7;

.none-pointer {
  pointer-events: none;
}

.display-none {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10em;
}

.animation {
  animation: animatezoom 0.4s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@import "stepper";

@import "button";

@import "input";

@import "mainpage";

@import "flightinfo";

@import "booking";

@import "flight-picker";

@import "flight-details-block";

@import "ticket-details-block";

@import "airport-picker-block";

@import "seat-selection";

@import "date-carousel";

@import "plane";

@import "signing";

@import "user";

@import "order";
