* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$forms-color: rgb(241, 231, 234); //rgb(230, 219, 219);

.none-pointer {
  pointer-events: none;
}

@import "stepper";

@import "button";

@import "input";

@import "mainpage";

@import "flightinfo";

@import "booking";

@import "flight-picker";

@import "flight-details-block";

@import "ticket-details-block";

@import "airport-picker-block";

@import "seat-selection";

@import "date-carousel";

@import "plane";
